---
import { getCollection, getEntry, render } from 'astro:content';
import { categories } from '@/consts';
import Layout from '@layouts/Index.astro';

export async function getStaticPaths() {
  return categories.map(({ title, slug }) => {
    return ({
      params: {
        category: slug
      },
      props: {
        title,
        slug
      }
    })
  });
}

const { title, slug } = Astro.props;

const posts = await getCollection('posts');
const postsOfCategory = posts.filter(({ data: { category }}) => category === slug);

---
<Layout>
  <main>
    <h1>{title}</h1>
    {postsOfCategory.length > 0 &&
      <ul>
        {postsOfCategory.map(({ id, data: { title }}) =>
          <li>
            <a href={`/${slug}/${id}`}>{title}</a>
          </li>
        )}
      </ul>}
  </main>
</Layout>

<style>
  @import "open-props/media";
  @import "open-props/colors-hsl";

  main {
    padding-inline: var(--size-3);
    padding-block-start: var(--size-4);
    padding-block-end: var(--size-11);
  }

  @media (--md-n-above) {
    main {
      max-width: var(--size-content-3);
      margin-inline: auto;
      padding-inline: 0;
    }
  }

</style>
