@import 'open-props/normalize.min.css';
@import 'open-props/open-props.min.css';
@import 'open-props/media.min.css';

body {
  font-family: var(--font-asap);
  background-color: hsl(var(--gray-0-hsl));
}

@media (--OSdark) {
  body {
    background-color: hsl(var(--gray-9-hsl));
  }
}
