---
import { z } from "zod";
import { postSchema } from '@/schema';
import formatDuration from '@/helpers/formatDuration';

const transportationSchema = postSchema.pick({ transportation: true });

type Props = z.infer<typeof transportationSchema>;

const { transportation } = Astro.props as Props;

const { duration, unit } = formatDuration(transportation.duration);

---

<div class="abstract">
  <strong class="transportationTime">~{duration}</strong>
  <span class="transportationUnit">{unit}</span>
  <p class="transportationFrom">from {transportation.from.place}<br />{transportation.from.kanji}</p>
</div>

<style>
  @import "open-props/media";
  @import "open-props/colors-hsl";

  .abstract {
    margin-block-start: var(--size-3);
    margin-inline: calc(var(--size-2) * -1);
    padding-inline: var(--size-2);
    padding-block-start: var(--size-2);
    padding-block-end: var(--size-3);
    background-color: hsl(var(--gray-2-hsl) / 80%);
    backdrop-filter: blur(12px);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-1);
  }

  @media (--OSdark) {
    .abstract {
      background-color: hsl(var(--gray-8-hsl) / 80%);
    }
  }


  @media (--md-n-above) {
    .abstract {
      margin-inline: calc(var(--size-3) * -1);
      padding-inline: var(--size-3);
    }
  }

  .difficulty {
    font-size: var(--font-size-4);
    letter-spacing: var(--font-letterspacing-3);
    text-transform: uppercase;
  }

  .transportationTime {
    color: hsl(var(--gray-7-hsl));
    font-size: var(--font-size-5);
  }


  @media (--OSdark) {
    .transportationTime {
      color: hsl(var(--gray-2-hsl));
    }
  }

  .transportationUnit {
    color: hsl(var(--gray-6-hsl));
    font-size: var(--font-size-1);
  }

  .transportationFrom {
    color: hsl(var(--gray-7-hsl));
    font-size: var(--font-size-1);
  }

  @media (--OSdark) {
    .transportationFrom {
      color: hsl(var(--gray-5-hsl));
    }
  }

  hr {
    /* margin-block-start: var(--size-1);
    margin-block-end: 0; */
    margin-block: var(--size-3);
    background-color: transparent;
    border: 1px dashed hsl(var(--gray-7-hsl));
    /* border-bottom: none; */
  }
</style>
