---
import { transportations as  transportationIcon, type TransportationLabel  } from "@/consts";

const { id } = Astro.props;

const headingSource = await Astro.slots.render('default');

const matchLabel = /^\[(.*?)\]\s*(.*)/.exec(headingSource?.toString());

const label = matchLabel?.[1] as TransportationLabel ?? '' ;

const Icon = transportationIcon[label]?.icon;

const heading = matchLabel ? matchLabel?.[2] || '' : headingSource;

---

<h2 id={id}>{matchLabel && <Icon />}{heading}</h2>
