---
import { categories } from "@/consts";
import Islands from '@assets/islands.svg';
import Temples from '@assets/temples.svg';

const { as } = Astro.props

const Box = as || 'div';

---
<div class="dock">
  <nav class="nav">
    <ul class="categories">
      {
        categories.map(({ title, slug, icon }) => {
          const Icon = icon;
          return (
            <li class="categoryItem">
              <a class="link" href={`/${slug}`}>
                <Icon class="icon" size={24} />
              </a>
            </li>
          )}
        )
      }
    </ul>
  </nav>
  <Box class="logo">
    <strong class="logoName">Meow Mapping</strong>
    <span class="logoDescription">Cat Travel Guides</span>
  </Box>
</div>

<style>
  @import "open-props/media";
  @import "open-props/colors-hsl";

  .dock {
    display: grid;
    grid: auto / auto auto;
    width: max-content;
    position: fixed;
    right: var(--size-2);
    bottom: var(--size-2);
    margin-block-start: calc(var(--size-2) * -1);
    background-color: hsl(var(--gray-0-hsl) / 80%);
    backdrop-filter: blur(12px);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-2);
  }

  .nav {
    display: contents;
  }

  .categories {
    display: grid;
    grid: auto / auto auto;
    align-content: center;
    column-gap: var(--size-4);
    padding-inline-start: var(--size-3);
  }

  .categoryItem {
    padding-inline-start: var(--size-0);
    list-style-type: none;
  }

  .categoryItem .link {
    color: hsl(var(--gray-10-hsl));
  }


  @media (--OSdark) {
    .categoryItem .link {
      color: hsl(var(--gray-2-hsl));
    }
  }

  .logo {
    padding-inline: var(--size-4);
    padding-block-start: var(--size-3);
    padding-block-end: var(--size-4);
    line-height: var(--font-lineheight-1);
    /* max-inline-size: none; */
  }

  @media (--OSdark) {
    .dock {
      background-color: hsl(var(--gray-9-hsl) / 80%);
    }
  }

  @media (--md-n-above) {
    .dock {
      /* max-width: calc(var(--size-content-3) + var(--size-7)); */
      margin-inline: auto;
      left: var(--size-2);
    }
  }

  .logoName {
    display: block;
    color: var(--gray-10);
    font-size: var(--font-size-2);
    transform: skewY(-4deg);
  }

  @media (--OSdark) {
    .logoName {
      color: hsl(46, 100%, 48%);
    }
  }

  .logoDescription {
    display: block;
    margin-inline-start: var(--size-7);
    color: hsl(var(--gray-10-hsl));
    font-size: var(--font-size-1);
    font-weight: normal;
    font-style: italic;
    transform: skewY(-4deg);
  }

  @media (--OSdark) {
    .logoDescription {
      color: hsl(var(--gray-4-hsl));
    }
  }
</style>
