---
import { SITENAME } from '@/constants';
import { z } from 'zod';
import { css, cx } from '../../styled-system/css';
import { container } from '../../styled-system/patterns';
import Intersecrion from '@elements/Intersection.astro';

const componentProps = z.object({
  isHome: z.boolean()
});

type Props = z.infer<typeof componentProps>;

const { isHome } = Astro.props as Props;
const SiteName = isHome ? 'h1' : 'span';
---

<header
  class={css({
    height: 16,
    position: 'sticky',
    inset: '0 0 auto 0',
    zIndex: 2,
    paddingBlock: 4,
    backgroundColor: 'white/88',
    backdropFilter: 'blur(12px)',
    borderBottomWidth: 1,
    borderStyle: 'solid',
    borderBottomColor: 'shade.96',
    _osDark: { backgroundColor: 'shade.12/88', borderBottomColor: 'shade.40' }
  })}
>
  <div
    class={cx(
      container(),
      css({
        maxWidth: { lg: '6xl', xl: '7xl' }
      })
    )}
  >
    <div
      class={css({
        display: 'grid',
        grid: 'auto / 32px 1fr',
        alignItems: 'center',
        columnGap: 3,
        width: { md: 'max-content' },
        position: 'relative'
      })}
    >
      <figure class={css({ overflow: 'hidden', borderRadius: 'md' })}>
        <Intersecrion />
      </figure>
      <SiteName
        class={css({
          textStyle: 'intersection',
          fontSize: 'md',
          letterSpacing: 8
        })}>Intersection</SiteName
      >
      {
        !isHome && (
          <a
            class={css({
              width: '100%',
              height: '100%',
              position: 'absolute',
              inset: 0
            })}
            href="/"
            title={`${SITENAME}首頁`}
          />
        )
      }
    </div>
  </div>
</header>
