---
import { categories } from '@/consts';
import Layout from '@layouts/Index.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');

function filterPosts(categorySlug: string) {
  return posts.filter(({ data: { category }}) => {
    return categorySlug === category
  })
}

---

<Layout>
  <main>
    {categories.map(({ title, slug }) => {
      const postsOfCategory = filterPosts(slug);

      return (
        <>
          <h2>{title}</h2>
          <ul>
            {postsOfCategory.map(({ id, data: { title }}) =>
              <li>
                <a href={`/${slug}/${id}`}>{title}</a>
              </li>
            )}
          </ul>
        </>
      )
    })}
  </main>
</Layout>

<style>
  @import "open-props/media";
  @import "open-props/colors-hsl";

  main {
    padding-inline: var(--size-3);
    padding-block-start: var(--size-4);
    padding-block-end: var(--size-11);
  }

  @media (--md-n-above) {
    main {
      max-width: var(--size-content-3);
      margin-inline: auto;
      padding-inline: 0;
    }
  }

</style>
