---
import Layout from '@layouts/Index.astro';
import { getCollection } from 'astro:content';


const posts = await getCollection('posts');

console.log({posts})

---

<Layout>
  <main>
    <h1>Meow Mapping: Cat Travel Guides</h1>
  </main>
</Layout>
