---

---

<div class="logo">
  <span class="logoName">Meow Mapping</span>
  <span class="logoDescription">Cat Travel Guides</span>
</div>

<style>
  @import "open-props/media";
  @import "open-props/colors-hsl";

  .logo {
    padding-inline: var(--size-2);
    padding-block-start: var(--size-2);
    padding-block-end: var(--size-4);
    position: fixed;
    right: var(--size-2);
    bottom: var(--size-2);
    left: var(--size-2);
    background-color: hsl(var(--gray-3-hsl) / 80%);
    backdrop-filter: blur(12px);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-2);
  }

  @media (--OSdark) {
    .logo {
      background-color: hsl(var(--gray-9-hsl) / 80%);
    }
  }

  @media (--md-n-above) {
    .logo {
      max-width: calc(var(--size-content-3) + var(--size-7));
      margin-inline: auto;
    }
  }

  .logoName {
    display: block;
    color: var(--gray-10);
    font-size: var(--font-size-fluid-2);
    transform: skewY(-4deg);
  }

  @media (--OSdark) {
    .logoName {
      color: hsl(46, 100%, 48%);
    }
  }

  .logoDescription {
    display: block;
    margin-inline-start: calc(var(--size-8));
    color: hsl(var(--gray-10-hsl));
    font-size: var(--font-size-fluid-1);
    font-weight: normal;
    font-style: italic;
    transform: skewY(-4deg);
  }

  @media (--OSdark) {
    .logoDescription {
      color: hsl(var(--gray-4-hsl));
    }
  }
</style>
