---
import "@/styles/global.css";
import BaseHead from "./_BaseHead.astro";
import Dock from "@/pages/_Dock.astro";

const { title, description, dateModified } = Astro.props;

const { pathname } = Astro.url;
const isHome = pathname === '/';

const datePublished = '2024-12-31T23:59:59+08:00'

---

<html lang="en">
  <BaseHead
    title={title}
    description={description}
    dateModified={dateModified}
    datePublished={datePublished}
  />
	<body>
  	<Dock {...(isHome ? { as: 'h1' } : {})} />
	  <slot />
	</body>
</html>
